@import url("variable.css");
@import url("main-style.css");
article
{
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: var(--light-bg-color);
}
article img
{
	padding-bottom: 30px;
}
article h1
{
	font-size: 30px;
	font-weight: 700;
}
article h3
{
	font-size: 24px;
	font-weight: 700;
}
article .date
{
	display: block;
	font-size: 12px;
	color: var(--dark-04);
	margin-bottom:10px;
}
/* End Article */
/*Start More_Article*/
.more_article
{
	padding: 20px 0px 50px 0;
}
.more_article h1
{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 25px;
}
/* End more Article*/