@import url("main-style.css");
@import "variable.css";
/* Contact Us main */
.contact_us
{
	padding-top: 100px;
	padding-bottom: 50px;
	background-color: var(--main-bg-color);
}
.contact_us label
{
	color: var(--text-light-01);
	font-weight: 18px;
}
.contact_us .label_radio
{
	margin-right: 20px;
}
.contact_us button
{
	margin-top: 10px;
    margin-right: 20px;
}
/* Contact Us end */
form
{
	padding: 20px;
	background-color: var(--dark-bg-color-overlay-50);
	border-radius: 20px;
	
}

.map
{
	background-color: var(--main-bg-color);
	padding-top: 40px;
}
