@charset "utf-8";
body{font-family: 'Lato', sans-serif;;}
/*navbar*/
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #043552;
	color:#0295A0;
}
.navbar-inverse
{
	background-color: black;
}
.navbar-inverse .navbar-brand {
    color: #4fabd0;
    background-color: #183947;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus
{
	color: white;
    background-color: #183947;
}
/* CSS Document */
/*End navbar*/
/* Contact Us main */
.contact_us
{
	padding-top: 100px;
	padding-bottom: 50px;
	background-color: #286178;
}
.contact_us label
{
	color: white;
	font-weight: 18px;
}
.contact_us .label_radio
{
	margin-right: 20px;
}
.contact_us button
{
	margin-top: 10px;
    margin-right: 20px;
}
/* Contact Us end */
form
{
	padding: 20px;
	background-color: #00000069;
	border-radius: 20px;
	
}

.map
{
	background-color: #043552;
	padding-top: 40px;
}
/*End map*/
/*
*
*/
/*start footer */
footer
{
	padding-top: 20px;
	background-color: #286178;
	
}
footer .footer-copyright
{
	color: white;
	text-align: center;
	padding: 10px;
	background-color:#043552 ;
}
footer ul li
{
	list-style-type: none;
	color: white;
}
footer .info_footer 
{
	padding:20px 0px;
}
footer .social_icon img
{
	margin-right: 20px;
}
footer .social_icon
{
	text-align: center;
}
/*end footer*/


.title_heading
 {
 	text-align: center;
	margin-bottom: 20px;
	padding-top: 20px;
	border-top: 2px dashed white;
 }
.title_heading h1
{
	font-size: 46px;
	font-weight: 900;
	color:white;
}

