@import url("variable.css");
@import url("main-style.css");
header
{	
	width: 100%;
    background-color:var(--dark-bg-color);
	padding: 80px 0 40px 0;
	min-height: 650px;
}
header .title_banner
{
	color:var(--text-light-01);
	margin: 20px 0px;
}
header .banner_article
{
	color: var(--main-color);
	margin: 20px 0px;
	font-size:20px;
}
header .btn
{
	border: solid 1px var(--main-border-color);
	background-color:var(--dark-bg-color);
	font-size: 20px;
	margin-top: 20px;
	margin-right: 20px;
	color: var(--main-color);
}
.info_adv
 {
	 padding: 20px;
 }
 
/* End header */
/**/
/**/
/* Strart new product */
.new_product
{
	padding: 40px 0px;
	background-color: var(--second-bg-color);
    color: var(--text-light-01);
}
.new_product_info
{
	background-color: var(--main-bg-color);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.new_product .product
{
	border: 1px dashed var(--light-border-color);
}
/* end of new product */


/* strat smartphone */
.smartphone
{
	padding: 40px;
	background-color: var(--main-bg-color);
}
/*End smartphone*/

/*Start accessories*/
.accessories
{
	padding: 40px 0px;
	background-color: var(--second-bg-color);
	color: var(--text-light-01);
}

/* start product */
.product
 {
	color: var(--text-light-01);
	background-color: var(--dark-bg-color-overlay-50);
  	padding: 20px;
	margin-bottom: 20px;
	height: 200px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px dotted var(--light-border-color);
	 
 }
 .product img
{
	width: 100px;
	height: 100px;
}
.big_product
{
	border :1px dotted var(--light-border-color);
	padding: 32px 0px 31px 0px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: var(--dark-bg-color-overlay-50);
	color: var(--text-light-01);
}
.big_product img
{
	width:300px;
	height: 300px;
}
.discount
{
	height: 200px;
	padding: 20px;
}