@import url("variable.css");
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/*navbar*/
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    background-color: var(--second-bg-color);
    color: var(--text-light-01);
}

.navbar-inverse {
    background-color: var(--dark-bg-color);
}

.navbar-inverse .navbar-brand {
    color: var(--text-light-01);
    background-color: var(--main-bg-color);
}

/*end nav*/
footer {
    padding-top: 20px;
    background-color: var(--main-bg-color);

}

footer .footer-copyright {
    color: var(--text-light-01);
    text-align: center;
    padding: 10px;
    background-color: var(--second-bg-color);
}

footer ul li {
    list-style-type: none;
    color: var(--text-light-01);
}

footer .info_footer {
    padding: 20px 0px;
}

footer .social_icon img {
    margin-right: 20px;
}

footer .social_icon {
    text-align: center;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.title_heading {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
    border-top: 2px dashed var(--dark-border-color);
}

.kengang {
    margin-top: 20px;
    border-bottom: 2px dashed var(--dark-border-color);
}

.title_heading h1 {
    font-size: 46px;
    font-weight: 900;
    color: var(--text-light-01);
}