/* Strart new product */
@import url("variable.css");
@import url("main-style.css");
.new_product
{
	padding-top: 100px;
	padding-bottom: 50px;
	background-color:#043552;
	color: white;
	
}
 .new_product .product
 {
	height:325px;
	color:white;
	background-color:#00000052;
  	padding: 20px;
	margin-bottom: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px dotted white;
	 
 }
.new_product .title_heading
{
	border: none;
}
/* end of new product */


/**/
/* strat smartphone */
.smartphone
{
	padding: 40px;
	background-color: #286178;
}
.smartphone .info_product li
{
	list-style-type: none;
	margin-top: 10px;
}
.smartphone .product_info_box
{
	padding: 40px 0 40px 0;
	color:white;
}
.thumbnail
{
	background-color: #00000052;
}
/*End smartphone*/
/*
*
*
*/

/*
*
*/

.name
{
	font-size: 24px;
	color:white;
	font-weight: bold;
	margin: 20px 0 20px 0;
}

/* CSS Document */

