:root{
    --main-color: #0295A0;
    --main-bg-color: #043552;
    --second-bg-color: #286178;
    --light-bg-color: rgb(220, 220, 220);
    --dark-bg-color: rgb(0, 0, 0);

    --dark-bg-color-overlay-50: rgba(0, 0, 0, 50%);
    --dark-bg-color-overlay-75: rgba(0, 0, 0, 75%);
    
    --text-light-01: white;
    --text-light-02: white;

    /* dark color  */
    --dark-01: black;
    --dark-02: rgb(30, 30, 30);
    --dark-03: rgb(60, 60, 60);
    --dark-04: rgb(90, 90, 90);
}